* {
    margin: 0px;
    margin: 0px;
}

.cabecalho {
    background-image: url("https://thumbs.dreamstime.com/b/black-meshy-metal-24807651.jpg");
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
    width: 104%;
}

.logo {
    padding-top: 6.7rem;
    margin: auto;
    display: flex;
    height: 94px;
    background-position: 50% 50%;
}
.main-menu-wrapper {
    margin-top: 91px;
}

.nav-home-about {
    display: flex;
    list-style: none;
    background-color: rgb(8, 8, 8);
    background-position: 200px;
    width: 80%;
    margin: auto;

    
}
li {
    background-color: rgb(8, 8, 8);
    color: rgb(221, 221, 221);
    margin: auto;
    padding: 20px;
    background-position: 50%;
}
body {
    background-image: url(https://th.bing.com/th/id/R.68b4696750e5298ccf5c714d0146247a?rik=ONwlzAIEePQoyQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f-4Jz--jTFoSs%2fUFTU9wRIiwI%2fAAAAAAAAALk%2foSwBigj9vKo%2fs1600%2fBIBLIA2.jpg&ehk=84D2ExAehZ%2bLtlBF6zLY00tGouXZLi3jFNgn3HKXOXg%3d&risl=&pid=ImgRaw&r=0);
    background-attachment: fixed;
    height: 1000px;
    width: 1216.5px;

}
/* .entry-content {
    background-color: white;
    width: 1000px;
    height: 500px;

} */
.picture {
    background-color: white;
    height: 700px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 20px;
    width: 640px;
}
.guys {
    background-color: white;
    height: 360px;
    position: absolute;
    background-repeat: no-repeat;
    width: 640px;
    

}
h1 {
    font-size: 40px;
    /* font-family: 'Raleway', 'Open Sans', Georgia, sans-serif; */
}

.people {
    margin-left: 20%;
}
.text {
    display: flex;
    justify-content: end;
}